#editor {
	position: absolute;
	top: 5%;
	right: 20%;
	bottom: 25%;
	left: 20%;
	font-size: 1.2em;
}

#commit-edit {
	position: absolute;
	top: 80%;
	right: 20%;
	bottom: 5%;
	left: 20%;
	font-size: 1.2em;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Helvetica Neue",Helvetica,Roboto,Arial,sans-serif;
	text-align: center;
}

span.addition {
	color: green;
}

span.deletion {
	color: red;
}

span.normal {
	color: white;
}

div#commit {
	position: absolute;
	top: 5%;
	right: 20%;
	bottom: 25%;
	left: 20%;
	background: rgba(30, 30, 30, 255);
}

div#commit-inner {
	margin: 20px;
}